*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:root {
    --primary: #0C0E15;
    --secondary: #FFE5DC;
    --white: #ffffff;
    --hover: #E44C1A;

    --font-title: "Shippori Mincho";
    --font-texte: "Sawarabi Mincho";
}


/* global */
html {
    font-size: 20px;
    overflow-x: hidden;
    background-color: var(--primary);
    scroll-behavior: smooth;
}

h1, h2, h3, h4{
    font-family: var(--font-title);
    color: var(--white);
    font-weight: 600;
    line-height: 120%;
}

h1, h2 {
    color: var(--secondary);
}

h1 {
    font-size: 131px;
}

h2 {
    font-size: 51px;
    margin-bottom: 2.1rem;
}

h3 {
    font-size: 35px;
    margin-bottom: 1.75rem;
}

h4 {
    font-size: 24px;
    color: var(--primary);
}

p {
    font-size: 20px;
    font-family: var(--font-texte);
    color: var(--white);
    font-weight: 400;
    line-height: 160%;
    max-width: 75ch;
    margin-bottom: 1.2rem;
}

section {
    padding: 1rem 6rem;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
}


/* logo */
.logo img {
    height: 3.1rem;
}


/* background */
.bg__section {
    position: relative;
    width: 100dvw;
    min-height: 100dvh;
}

.bg__section::before {
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    
    position: absolute;
    content: "";
    inset: 0;

    opacity: 0.35;
    z-index: -1000;
}

/* box */
.accompagnements {
    width: calc(100dvw - 12rem);
    left: 6rem;
    display: flex;
    flex-wrap: wrap;  
    gap: 2rem;
    justify-content: center;
}

.accompagnements--icon {
    gap: 6rem;
}

.box { 
    width: 35ch;
    margin: 1.2rem 0px 1.2rem 0px;
    padding: 1.2rem;
    background-color: var(--secondary);
    border-radius: 2rem;
}

.box p {
    color: var(--primary);
}

.box .icon {
    position: absolute;
    right: clamp(-5rem, -5rem, 0);
    top: clamp(2rem, 5rem, 12rem);
}

.icon {
    width: 8rem;
    height: 8rem;
}


/* scroll horizontal */
.horizontal-wrapper {
    height: 100vh;
    overflow: hidden;
}

.horizontal {
    display: flex;
    height: 100vh;
    width: max-content;
}

.panel {
    flex: 0 0 100vw;
    height: 100vh;
    position: relative;
}